#navbarNavAltMarkup{
    margin-left: 50px;
  
}

nav{
    font-family: "Kalnia", serif; 
    font-size: 17px;
    font-weight: 500;
    
    
}
nav a{
    color: rgb(114, 51, 0);
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px;
    background-color:rgb(114, 51, 0); ;
}
